<div id="helpDialog" title="Help..." style="display: none;">
  <p>
    <div>It's probably best if you familiarize yourself with the basics of custom remotes for Unified Remote by reading <a href="http://www.unifiedremote.com/guide/custom-getting-started">this guide</a>.</div>
    <div>The basic process consists of adding widgets to rows and configuring those widgets. Change the look and type of widget by using the elements to the right of the phone. Configure the actions that will take place when widgets are interacted with by clicking on the pencil icon in the upper right-hand corner of a widget.</div>
    <div>For help in specific areas, hover your mouse cursor over elements and a tooltip will display where available.</div>
  </p>
</div>
